.formulaire {
    max-width: 60rem; 
    margin-left: 22rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.25rem;
    background-color: #f8f9fa;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.formulaire h2 {
    text-align: center;
    color: var(--background-nectarine);
    font-weight: bold;
}

.formulaire form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}


.formulaire input[type='text'] {
    flex: 1; 
    margin-left: 0.5rem; 
    padding: 0.3rem; 
    border: 1px solid var(--background-beekeper);
    border-radius: 0.25rem;
    margin-top: 1rem;
}

.formulaire input[type='text']:focus{ 
    outline: none;
    
}

.formulaire button {
    width: 5rem; 
    padding: 0.625rem;
    color: #fff;
    background-color: var(--background-nectarine);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
}

.formulaire button:hover {
    background-color: var(--background-nectarine); 
}
