.card-item {
    border: 3px solid var(--background-beekeper);
    border-radius: 20px;
    width: 30rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
}

.card-item h2 {
    text-align: center;
}

.card-item p {
    text-align: center;
}

.card-item img {
    display: block;
    margin: auto 0;
}

.card-item button {
    background-color: var(--background-nectarine);
    border: 2px solid var(--background-nectarine);
    width: 7rem;
    height: 2rem;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
}

.msgRating {
    background-color: #6ab04c;
    width: 8rem;
    height: 2rem;
    padding-top: 0.5rem;
    border-radius: 2px;
}
