.card-item {
    position: relative; 
    border: 3px solid var(--background-beekeper);
    border-radius: 20px;
    width: 20rem;
    height: 20rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}


.card-item h2 {
    text-align: center;
    margin-top: 1rem;
}

.card-item p {
    text-align: center;
}

.description {
    margin:0;
    width: 10rem;
    overflow: hidden;         
    white-space: nowrap;      
    text-overflow: ellipsis;  /* Ajoute des points de suspension si le texte déborde */
}

.container-fa {
    display: flex;
}

.card-item img {
    display: block;
    margin: auto 0;
}

.card-item button {
    background-color: var(--background-nectarine);
    border: 2px solid var(--background-nectarine);
    width: 7rem;
    height: 2rem;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0.5rem;
}

.card-item button:nth-of-type(2){
    background-color: var(--background-beekeper);
    border: 1px solid var(--background-beekeper);
    margin-top: 0.5rem;
}

.msgRating {
    background-color: #6ab04c;
    width: 8rem;
    height: 2rem;
    padding-top: 0.5rem;
    border-radius: 2px;
}

.discount {
    color: #e55039;
    margin: 0;
    padding-left: 0.8rem;
}

.price {
    margin: 0;
    padding-left: 0.8rem;
}

.rate {
    margin: 0;
    padding-left: 0.8rem;
}

.tag {
    position: absolute;
    top: -10px; 
    left: -10px; 
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.1rem;
    font-weight: 700;
    color: #0C0C0C;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    
}

.tag:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.very-good {
    background-color: #badc58;
}

.good {
    background-color: #7ed6df;
}

.very-good:hover, .good:hover {
    filter: brightness(110%);
}


.details {
    color: var(--background-nectarine);       
    font-weight: bold;    
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: uppercase; 
    margin-top: 1rem;
  }
  
  .details:hover {       
    text-decoration: underline; 
    transform: scale(1.1); 
  }


