.container-about {
    overflow-y: scroll;
    height: calc(100vh - var(--nav-height) - var(--footer-height));
    outline: 1px transparent black;
    padding-left: calc(var(--width-sidebar) + 2rem);
    padding-right: 2rem;
}

.titles {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0;
}

p {
    margin-top: 1rem;
    text-align: center;
}

.titles img {
    width: 10rem;
    height: 10rem;
    border-radius: 50rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.claire-p img {
    width: 12rem;
    height: 11rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.yassin-p img {
    width: 12rem;
    height: 11rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.paragraphes {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-about .presentation  {
    height: 10rem;
}

.container-about a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

