html {
    --background-bleu: #dff9fb;
    --backgroun-bleu2: #c7ecee;
    --background-nectarine: #ffbe76;
    --background-beekeper:#f6e58d;
    --background-black: #1e272e;
    --color-text2:#ffffff;
    --color-text1:#0C0C0C;
    
  }

.container-side {
    background-color: var(--background-beekeper);
    position: absolute;
    height: 80rem;
    width: 10rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-side ul {
    padding: 0;
    width: 100%;
    margin-top: 2rem;
}

.container-side ul li {
    list-style-type: none;
    padding-top: 2rem;
    padding-right: 0; 
    padding-bottom: 2rem; 
    padding-left: 0; 
    width: 100%; 
    box-sizing: border-box; 
}


.container-side ul li a {
    text-decoration: none;
    color: var(--color-text1);
    font-weight: 700;
    margin-top: 1rem;
    display: block; 
    width: 100%; 
    border-bottom: 0.2rem solid var(--background-nectarine);
    text-align: center;
}

.container-side ul li a:hover {
    color: var(--background-nectarine);
}